@font-face {
    font-family: 'Pacifico';
    src: url('/fonts/Pacifico-Regular.ttf') format('truetype');
}

/* customized body scroll bar  */
body::-webkit-scrollbar {
    width: 2px !important;
}

body::-webkit-scrollbar-track {
    background: #c6c1ff !important;
}

body::-webkit-scrollbar-thumb {
    background: #4d41da !important;
}

body::-webkit-scrollbar-thumb:hover {
    background: #DB2777 !important;
}

/* customized main content scroll bar  */
#contentWrapper::-webkit-scrollbar {
    width: 8px !important;
}

#contentWrapper::-webkit-scrollbar-track {
    background: #c6c1ff !important;
}

#contentWrapper::-webkit-scrollbar-thumb {
    background: #4d41da !important;
}

#contentWrapper::-webkit-scrollbar-thumb:hover {
    background: #DB2777 !important;
}
